.person{
	position: absolute;
    top: 416px;
    right: 4px;
}
.idear{
	position: absolute;
    top: 98px;
    left: 136px;
}
.idear1{
	position: absolute;
    top: 114px;
    left: 118px;
}
.question{
	position: absolute;
    top: 695px;
    left: 33px;
}
.questionBOX{
	position: absolute;
    top: 695px;
    left: 25px;
}
.btnbox1{
	color: #FFFFFF;
	font-size: 28px;
	background-color: #ffa200;
	border-radius: 10px;
	padding: 10px 20px;
	height: 100px;
	display: table;
	position: relative;
	padding-left: 73px;
	width: 400px;
	box-sizing: border-box;
	letter-spacing: 2px;
}
.btnbox1>div{
	display: table-cell;
	vertical-align: middle;
	text-indent: 2;
}
.btnbox1>p{
	position: absolute;
	top: 10px;
	left: 20px;
}
.btnbox2{
	margin-top: 20px;
	color: #FFFFFF;
	font-size: 28px;
	background-color: #ff5a00;
	border-radius: 10px;
	padding: 10px 20px;
	height: 100px;
	display: table;
	position: relative;
	padding-left: 73px;
	width: 400px;
	box-sizing: border-box;
	letter-spacing: 2px;
}
.btnbox2>div{
	display: table-cell;
	vertical-align: middle;
	text-indent: 2;
}
.btnbox2>p{
	position: absolute;
	top: 10px;
	left: 20px;
}

.closeMusic{
	width: 57px;
	height: 87px;
	background: url(../img/player-button.png) no-repeat;
	/*background-size: 60%;*/
	background-position-x: -57px;
	position: fixed;
    top: 48px;
    right: 54px;
	z-index: 100;
}
.active{
	background-position-x: 0px;
}
.task{
	position: absolute;
    left: 28px;
    top: 582px;
}
.personIndex{
	position: absolute;
	top: 415px;
	right: 0px;
}
.qCon1{
	color: #FFFFFF;
	font-size: 20px;
	text-align: center;
	width: 406px;
	height: 102px;
	background-color: #ffa200;
	border-radius: 5px;
	display: table;
	position: relative;
}
.qCon1>div,.qCon2>div{
	display: table-cell;
	vertical-align: middle;
}
.qCon2{
	color: #FFFFFF;
	font-size: 24px;
	text-align: center;
	width: 406px;
	height: 102px;
	background-color: #df5409;
	border: 1px solid #DF5409;
	border-radius: 5px;
	display: table;
	font-weight: bold;
	margin-top: 23px;
}
.cry{
	position: absolute;
	bottom: -10px;
	right: -30px;
}
.laugh{
	position: absolute;
	bottom: -10px;
}
.questionArrow{
	position: absolute;
	bottom: -25px;
	left: 50%;
	margin-left: -17px;
}
.qArrowBox{
    position: absolute;
    top: 154px;
    left: 53%;
    z-index: 2;
}













/*动画*/
/*笑脸滚动*/
.moveAni{
	animation: move 2s ease infinite;
	-webkit-animation: move 2s ease infinite;
	-ms-animation: move 2s ease infinite;
	-moz-animation: move 2s ease infinite;
	-o-animation: move 2s ease infinite;
}
@keyframes move{
	0%{right: -30px;transform: scale(1);}
	25%{right: 30px;transform: scale(0.8)}
	50%{right: 30px;transform: scale(1)}
	75%{right: -30px;transform: scale(0.8)}
	100%{right: -30px;transform: scale(1)}
}
@-webkit-keyframes move{
	0%{right: -30px;-webkit-transform: scale(1);}
	25%{right: 30px;-webkit-transform: scale(0.8)}
	50%{right: 30px;-webkit-transform: scale(1)}
	75%{right: -30px;-webkit-transform: scale(0.8)}
	100%{right: -30px;-webkit-transform: scale(1)}
}
@-ms-keyframes move{
	0%{right: -30px;-ms-transform: scale(1);}
	25%{right: 30px;-ms-transform: scale(0.8)}
	50%{right: 30px;-ms-transform: scale(1)}
	75%{right: -30px;-ms-transform: scale(0.8)}
	100%{right: -30px;-ms-transform: scale(1)}
}
@-moz-keyframes move{
	0%{right: -30px;-moz-transform: scale(1);}
	25%{right: 30px;-moz-transform: scale(0.8)}
	50%{right: 30px;-moz-transform: scale(1)}
	75%{right: -30px;-moz-transform: scale(0.8)}
	100%{right: -30px;-moz-transform: scale(1)}
}
@-o-keyframes move{
	0%{right: -30px;-o-transform: scale(1);}
	25%{right: 30px;-o-transform: scale(0.8)}
	50%{right: 30px;-o-transform: scale(1)}
	75%{right: -30px;-o-transform: scale(0.8)}
	100%{right: -30px;-o-transform: scale(1)}
}
/*发光效果*/
.shine{
	animation: 1.8s shine linear infinite;
	-webkit-animation: 1.8s shine linear infinite;
	-ms-animation: 1.8s shine linear infinite;
	-o-animation: 1.8s shine linear infinite;
	-moz-animation: 1.8s shine linear infinite;
}
@keyframes shine{
	0%{box-shadow:0px 0px 25px 10px rgba(255,255,255,0.2);}
	50%{box-shadow:0px 0px 25px 10px rgba(255,255,255,0.4);}
	100%{box-shadow:0px 0px 25px 10px rgba(255,255,255,0.2);}
}
@-webkit-keyframes shine{
	0%{box-shadow:0px 0px 25px 10px rgba(255,255,255,0.2);}
	50%{box-shadow:0px 0px 25px 10px rgba(255,255,255,0.4);}
	100%{box-shadow:0px 0px 25px 10px rgba(255,255,255,0.2);}
}
@-ms-keyframes shine{
	0%{box-shadow:0px 0px 25px 10px rgba(255,255,255,0.2);}
	50%{box-shadow:0px 0px 25px 10px rgba(255,255,255,0.4);}
	100%{box-shadow:0px 0px 25px 10px rgba(255,255,255,0.2);}
}
@-o-keyframes shine{
	0%{box-shadow:0px 0px 25px 10px rgba(255,255,255,0.2);}
	50%{box-shadow:0px 0px 25px 10px rgba(255,255,255,0.4);}
	100%{box-shadow:0px 0px 25px 10px rgba(255,255,255,0.2);}
}
@-moz-keyframes shine{
	0%{box-shadow:0px 0px 25px 10px rgba(255,255,255,0.2);}
	50%{box-shadow:0px 0px 25px 10px rgba(255,255,255,0.4);}
	100%{box-shadow:0px 0px 25px 10px rgba(255,255,255,0.2);}
}
/*箭头上下*/
.arrow{
	position: absolute;
	left: 50%;
	margin-left: -32px;
	animation: arrow 1s ease-in-out infinite;
	-moz-animation: arrow 1s ease-in-out infinite;
	-ms-animation: arrow 1s ease-in-out infinite;
	-webkit-animation: arrow 1s ease-in-out infinite;
	-o-animation: arrow 1s ease-in-out infinite;
}
@keyframes arrow{
	0%{bottom: 12px;}
	50%{bottom: 28px;}
	100%{bottom: 12px;}
}
@-moz-keyframes arrow{
	0%{bottom: 12px;}
	50%{bottom: 28px;}
	100%{bottom: 12px;}
}
@-ms-keyframes arrow{
	0%{bottom: 12px;}
	50%{bottom: 28px;}
	100%{bottom: 12px;}
}
@-webkit-keyframes arrow{
	0%{bottom: 12px;}
	50%{bottom: 28px;}
	100%{bottom: 12px;}
}
@-o-keyframes arrow{
	0%{bottom: 12px;}
	50%{bottom: 28px;}
	100%{bottom: 12px;}
}
/*光圈放大缩小*/
.apertureAni{
	animation: scale 2s linear infinite;
	-webkit-animation: scale 2s linear infinite;
	-o-animation: scale 2s linear infinite;
	-moz-animation: scale 2s linear infinite;
	-ms-animation: scale 2s linear infinite;
}
@keyframes scale{
	0%{transform: scale(0.8);}
	25%{transform: scale(1);}
	50%{transform: scale(0.8);}
	75%{transform: scale(0.6);}
	100%{transform: scale(0.8);}
}
@-webkit-keyframes scale{
	0%{-webkit-transform: scale(0.8);}
	25%{-webkit-transform: scale(1);}
	50%{-webkit-transform: scale(0.8);}
	75%{-webkit-transform: scale(0.6);}
	100%{-webkit-transform: scale(0.8);}
}
@-o-keyframes scale{
	0%{-o-transform: scale(0.8);}
	25%{-o-transform: scale(1);}
	50%{-o-transform: scale(0.8);}
	75%{-o-transform: scale(0.6);}
	100%{-o-transform: scale(0.8);}
}
@-moz-keyframes scale{
	0%{-moz-transform: scale(0.8);}
	25%{-moz-transform: scale(1);}
	50%{-moz-transform: scale(0.8);}
	75%{-moz-transform: scale(0.6);}
	100%{-moz-transform: scale(0.8);}
}
@-ms-keyframes scale{
	0%{-ms-transform: scale(0.8);}
	25%{-ms-transform: scale(1);}
	50%{-ms-transform: scale(0.8);}
	75%{-ms-transform: scale(0.6);}
	100%{-ms-transform: scale(0.8);}
}
