<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>title</title>
		<link rel="stylesheet" href="css/publice.css" />
		<script src="javaScript/jquery-1.11.1.min.js"></script>
	</head>
	<body>
		<header>
			<ul>
				<li><a href="">首页</a></li>
				<li><a href="">页面1</a></li>
				<li><a href="">页面2</a></li>
				<li><a href="">页面3</a></li>
			</ul>
		</header>
		<div class="container">
			container
		</div>
		<footer>
			<ul>
				<li><a href="http://www.baidu.com" target="_blank">链接</a></li>
				<li><a href="#"><img src="images/knet.png" /></a></li>
				<li><a href="http://www.baidu.com" target="_blank">链接</a></li>
				<li><a href="tel:15890015680">15890015680</a></li>
				<li><a href="mailto:570033259@qq.com">570033259@qq.com</a></li>
			</ul>
		</footer>
	</body>
</html>
